*{
    box-sizing: border-box;
}

body{
    font-family:'Baloo 2';
    background-color:#b5f898;
}

header{
    background-color:#7ed957;
    padding: 8px;
    width: 100%;
    height: 100%;
}

.cabecera{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
}

img{
    width: 100%;
    height: 100%;
}

.logo{
    width: 170px;
    height: 170px;
    margin:10px;
}

.buscar{
    margin-left: 300px;
    margin-top: 50px;
    transform: translate(-50%, -50%);
    background-color: #008037;
    padding: 10px;
    border-radius: 30px;
}

.buscar_texto{
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 15px;
    transition: .3s;
    width: 0;
}

.boton{
    width: 20px;
    height: 20px;
    color: white;
    font-size: 19px;
    text-decoration: none;
}

.buscar:hover > .buscar_texto{
    width: 250px;
}

.login{
    position: absolute;
    margin-top: -100px;
    margin-left: 880px;
}
.login button{
    background-color:#008037;
    border: none;
    padding:5px;
    margin:3px;
    border-radius: 5px;
}

.login button a{
    color: white;
    text-decoration: none;
    font-family:'Baloo 2';
}

.login button:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
.social_media {
    position: absolute;
    margin-left: 915px;
    margin-top: 55px;
}

.social_media a{
    display: inline-block;
    color: #008037;
    font-size: 27px;
}


.social_media a:hover{
    transform: scale(1.3);
    transition: 0.5s;
}
/*Fin de cabecera*/

/*Menú*/
.menu{
    display: flex;
    justify-content: space-around;
    margin-left: -60px;
}
.menu li a{
    display: block;
    padding:10px 15px;
    text-decoration: none;
    color:#008037;
    font-size:27px;
    margin-top: 5px;
    border-radius: 20px;
}    

.menu > li{  
    list-style: none;
}

.menu li a:hover{
    background-color:#7ed957;
}

.menu li ul{
    display: none;
    position: absolute;
    min-width: 140px;  
}

.menu li ul li{
    list-style: none;
    margin-top:-20px;
}
.menu li:hover > ul{
    display: block;
}
/*Fin del menú*/

/*Ofertas*/
.main{
    display: flex;
    justify-content:flex-start;
}

.grupo1{
    display: block;
}

.ofertas{
    background-color: #7ed957;
    text-align: center;
    border-radius: 20px;
    width: 50%;
    height: auto;
    margin-top: 180px;
    margin-left: 75px;
    padding-right: 25px;
    padding-left: 25px;
    
}

.ofertas h2{
    font-size: 55px;
    color:#008037;
    margin-top: 10px;
}
.ofertas h3{
    margin-top: -55px;
    color:#008037;
    font-size: 18px;
}

.boton_ofertas{
    padding:10px;
    margin:5px;
    align-items: center;
    margin-top: -20px;
}

.boton_ofertas button{
    background-color:#008037;
    border-radius: 10px;
    border:none;
    width: 50%;
    height: 20%;
}

.ofertas a{
    color:white;
    font-family:'Baloo 2';
    font-size: 20px;
    text-decoration: none;
}

.ofertas button:hover{
    transform: scale(1.3);
    transition:0.5s;
}
/*
/*Contacto*/
.contacto{
    background-color:#7ed957;
    border-radius: 20px;
    padding-left: 20px;
    width: 70%;
    height: auto;
}

.contacto h2{
    font-size: 45px;
    color:#008037;
    align-items: center;
}

.contacto p{
    margin-top: -40px;
    color:#008037;
}
.contacto label{
    color:#008037;
}

.contacto textarea{
    font-family:'Baloo 2';
    color:#008037;
}

.botones{
    border:none;
    margin-left: 20px;
    font-family:'Baloo 2';
    background-color:#008037;
    color: white;
    
}
/*Contenido principal*/
aside{
    display: flex;
    align-items: center;
    width: 1370px;
    height: 1000px;
}

.contenido_principal{
    background-color: rgba(24, 158, 178, 0.3);
    padding-left: 30px;
    padding-top:10px;
    padding-right: 30px;
    padding-bottom: 10px;
    border-radius: 20px;
    margin-left: 530px;
    margin-top: 190px;
    color:rgb(15, 89, 100);
}

.contenido_principal h2{
    font-size: 50px;
    text-align: center;
}
.contenido_principal p{
    margin-top: 15px;
}
.contenido_principal ol{
    margin-left: 80px;
}

.contenido_principal ol li{
    text-decoration: solid;
}

/*Footer*/
.footer{
    text-align: center;
    color:rgb(23, 94, 94);
    margin:20px;
}

.footer a{
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    color:rgb(23, 94, 94);
}
/*Responsive*/

/*Tamaño móvil*/

/*Tamaño tablet*/


/*Tamaño ordenador*/
