
<nav>
    <div class="navbar">
        <div class="logo">
            <a href="/"><img src="img/Finterest.png" alt="Logo de Finterest"></a>
        </div>
        <div class="navbar-list">
            <ul>
                <li><a href="/form">Upload</a></li>
            </ul>
        </div>
    </div>
</nav>