<!DOCTYPE html>
<html>
  <head>
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    La suma es: <%= 2 + 2 %> <!--Hace la suma y se la envia a la página renderizada-->
    Hello <%= text %> <!--Incluye el texto que le he renderizado en el archivo index-->
  </body>
</html>
